{% extends 'base.html.twig' %}

{% block body %}

  <h2>Pour créer une nouvelle formation</h2>

  {{ include('formation/_form.html.twig') }}

  <a href="{{ path('formation_index') }}">&#8617;&#65039;Retour à la liste des formations</a>
{% endblock %}
