body {
    font-family: 'Calibri';
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

header {
    text-align: center;
}

table {
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 70%;
    font-size: 20px;
}

th {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 70%;
}

td {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 70%;
}

hr {
    background: transparent;
    border-color: lightgrey;
    border-width: 0 0 1px;
    border-style: solid;
}

legend {
    display: block;
    width: 350px;
    margin: auto;
    font-weight: bold;
}

form {
    text-align: center;
}

input,
select,
button {
    font-family: 'Calibri';
    font-size: 20px;
    text-align: center;
}

.reussie {
    color: green;
}

.echoue {
    color: red;
}