<form method="post" action="{{ path('intervenant_delete', {'id': intervenant.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cet intervenant ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ intervenant.id) }}">
    <button class="btn">&#128465;&#65039; Supprimer</button>
</form>
