{% extends 'base.html.twig' %}

{% block body %}
    <h1>La liste des prestataires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestataire in prestataires %}
            <tr>
                <td>{{ prestataire.id }}</td>
                <td>{{ prestataire.nom }}</td>
                <td>
                    <a href="{{ path('prestataire_show', {'id': prestataire.id}) }}">&#128269;Voir le détail</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun prestataires répertoriés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prestataire_new') }}">&#128395;&#65039;Créer un nouveau prestataire</a>
{% endblock %}
