{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pour éditer la durée</h1>
    {% for message in app.flashes('echoue') %}
    <div class="echoue">
      {{ message }}
    </div>
  {% endfor %}
    {{ include('duree/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('duree_index') }}">&#8617;&#65039;Retour à la liste des durées</a>

    {{ include('duree/_delete_form.html.twig') }}
{% endblock %}
