{% extends 'base.html.twig' %}

{% block body %}
    <h1>La liste des salles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.id }}</td>
                <td>{{ salle.nom }}</td>
                <td>
                    <a href="{{ path('salle_show', {'id': salle.id}) }}">&#128269;Voir le détail</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune salle répertoriée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('salle_new') }}">&#128395;&#65039;Créer une nouvelle salle</a>
{% endblock %}
